@import './variables.css';

@font-face {
  font-family: 'Archivo';
  src: url('@/assets/fonts/Archivo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('@/assets/fonts/Archivo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  background: linear-gradient(120deg, var(--bc1) 20%, var(--bc2) 70%);
  height: 100vh;
  font-family: 'Archivo', sans-serif;
  color: rgb(22, 22, 22);
}
